@model Cinema.Movie.Movie.Entities.MovieRow


<div class="box box-custom">
    <div class="box-header with-border box-with-backgrond">
        <a @((string)ViewData["PageId"] != "Dashboard/Movie" ? "href = movie?id=" + @Model.MovieId : "")>
            <h3 class="box-title">
                @(Model.TitleEn + (Model.TitleOther != null ? "/" + Model.TitleOther : "")
        + " (" + (Model.YearStart.HasValue == true && Model.YearStart != Model.YearEnd ? Model.YearStart.ToString() : "") + Model.YearEnd + ")")
            </h3>
        </a>
    </div>
    <div class="box-body box-profile">
        <a href="#" class="thumbnail col-xs-4">
            <img class="img-responsive" src="@Model.PathImage" />
        </a>
        <div class="col-xs-8">
            <p>@Model.Description</p>
            <p>@Model.Storyline</p>
        </div>
        @if ((string)ViewData["PageId"] == "Dashboard/Movie")
        {

        }
    </div>
</div>

