@model Cinema.Movie.Movie.Entities.MovieRow

<div class="box box-custom">
    <div class="box-header with-border box-with-backgrond">
        <a class="col-xs-11 no-padding" @((string)ViewData["PageId"] != "Dashboard/Movie" ? "href = /movies/" + Model.Url + "?id=" + Model.MovieId : "")>
            <h3 class="box-title">
                @if (Model.TitleTranslation != null&& Model.TitleTranslation!= Model.TitleOriginal)
                {
                    @(Model.TitleTranslation + " (" + (Model.YearStart.HasValue == true && Model.YearStart != Model.YearEnd ? Model.YearStart.ToString() : "") + Model.YearEnd + ")")
                    <br />
                    @Model.TitleOriginal
                }
                else
                {
                    @(Model.TitleOriginal + " (" + (Model.YearStart.HasValue == true && Model.YearStart != Model.YearEnd ? Model.YearStart.ToString() : "") + Model.YearEnd + ")")
                }
            </h3>
        </a>
        <span class="pull-right">
            @if (Model.Nice == true)
            {
                <span class="fa fa-thumbs-o-up fa-2x"></span>
            }
        </span>
    </div>
    <div class="box-body box-profile">
        <div class="col-xs-12 no-padding">
            @if (Model.PathImage != null)
            {
                <div class="col-xs-4 no-padding-left">
                    <a href="#" class="thumbnail">
                        <img class="img-responsive" src="@Model.PathImage" />
                    </a>
                </div>
            }
            @if (Model.Rating != null)
            {
                <div class="col-xs-8 no-padding">
                    <div class="pull-right">
                    @for (int i = 0; i < (int)ViewData["MaxRating"]; i++)
                    {
                        if (i < Model.Rating)
                        {
                           <span class="fa fa-star"></span>
                        }
                        else if (i + 1 < Model.Rating)
                        {
                            <span class="fa fa-star-half-o"></span>
                        }
                        else
                        {
                            <span class="fa fa-star-o"></span>
                        }
                    }
                    </div>
                </div>
            }
            @if (Model.ServiceRatingList != null && Model.ServiceRatingList.Count != 0 &&Model.ServiceRatingList.Any(i=>i.Rating!=null))
            {
                <div class="col-xs-8 no-padding">
                    <p>
                        @foreach (var i in Model.ServiceRatingList)
                        {
                            if (i.Rating != null)
                            {
                                @i.ServiceName
                                <span class="label label-custom">@i.Rating </span>
                            }
                        }
                    </p>
                </div>
            }

            @if (Model.Tagline != null)
            {
                <div class="col-xs-8 no-padding text-center">
                    <span class="fa fa-quote-left"></span>
                    <i class="tagline ">
                        @Model.Tagline
                    </i>
                    <span class="fa fa-quote-right"></span>
                </div>
            }
            @if (Model.Budget != null)
            {
                <div class="col-xs-8 no-padding">
                    <p>@LocalText.Get("Db.Movie.Movie.Budget"): <i>@Model.Budget $</i></p>
                </div>
            }

            @if (Model.CastList != null && Model.CastList.Count != 0)
            {
                <div class="col-xs-8 no-padding">
                    @foreach (var i in Model.CastList.Select(j => j.Character).Distinct())
                    {
                        <p>
                            <span>@i </span>
                            @foreach (var k in Model.CastList)
                            {
                                if (k.Character == i)
                                {
                                    <span class="label label-custom"> @(k.PersonNameOther != null ? k.PersonNameOther : k.PersonNameEn) </span>
                                }
                            }
                        </p>
                    }
                </div>
            }


            @if (Model.GenreListName != null && Model.GenreListName.Count != 0)
            {
                <div class="col-xs-8 no-padding">
                    <span> @LocalText.Get("Db.Movie.Movie.GenreListName"):</span>
                    @foreach (var i in Model.GenreListName)
                    {
                        <p class="pull-right">
                            <span class="label label-custom">@i </span>
                        </p>
                    }
                </div>
            }

            @if (Model.CountryListName != null && Model.CountryListName.Count != 0)
            {
                <div class="col-xs-12 no-padding">
                    <span> @LocalText.Get("Db.Movie.Movie.CountryListName"):</span>
                    @foreach (var i in Model.CountryListName)
                    {
                        <p class="pull-right">
                            <span class="label label-custom">@i </span>
                        </p>
                    }
                </div>
            }
            @if (Model.Description != null)
            {
                
                    for (int i = 0; i < Model.Description.Count(); i++)
                    {
                        if (!string.IsNullOrWhiteSpace(Model.Description[i]))
                        {
                            <p class="text-indent text-justify">
                                @Model.Description[i]
                            </p>
                        }
                    }
                
            }

            @if (Model.TagListName != null && Model.TagListName.Count != 0)
            {
                <div class="col-xs-12 no-padding">
                    @*@LocalText.Get("Db.Movie.Movie.GenreList"):*@
                    @foreach (var i in Model.TagListName)
                    {
                        <div class="pull-right">
                            <span class="label label-custom">@i </span>
                        </div>
                    }
                </div>
            }

            @if ((string)ViewData["PageId"] == "Dashboard/Movie")
            {
                if (Model.Mpaa!=null)
                {
                    <div class="col-xs-8 no-padding">
                        <span>@LocalText.Get("Db.Movie.Movie.Mpaa")</span>
                        <a>@Model.Mpaa</a>
                    </div>
                }
                if (Model.Kind == Cinema.Movie.Movie.MovieKind.TvSeries)
                {
                    <div class="col-xs-8 no-padding">
                        <span>@LocalText.Get("Db.Movie.Movie.ContSeason")</span>
                        <a>@Model.ContSeason</a>
                    </div>
                }
            }
        </div>

        @if ((string)ViewData["PageId"] == "Dashboard/Movie")
        {
            if (Model.VideoList != null && Model.VideoList.Count != 0)
            {
                <div class="col-xs-12 no-padding">
                    @{
                        var ServiceNames = Model.VideoList.Select(j => j.ServiceName).Distinct();
                        var count = 0;
                    }

                    @if (ServiceNames != null && ServiceNames.Count() != 0)
                    {
                        <ul class="nav nav-tabs">
                            @foreach (var i in ServiceNames)
                            {
                                if (ServiceNames.Contains(null))
                                {
                                    if (i == null)
                                    {
                                        <li class="active"><a href="Other" data-toggle="tab">Other</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#@i.Replace(".", "").Replace(" ", " ")" data-toggle="tab">@i</a></li>
                                    }
                                }
                                else
                                {
                                    if (count == 0)
                                    {
                                        <li class="active"><a href="#@i.Replace(".", "").Replace(" ", " ")" data-toggle="tab">@i</a></li>
                                        count++;
                                    }
                                    else
                                    {
                                        <li><a href="#@i.Replace(".", "").Replace(" ", " ")" data-toggle="tab">@i</a></li>
                                    }
                                }
                            }
                        </ul>
                        count = 0;
                        <div class="tab-content">
                            @foreach (var i in ServiceNames)
                            {
                                foreach (var k in Model.VideoList)
                                {
                                    if (k.ServiceName == i)
                                    {
                                        if (ServiceNames.Contains(null))
                                        {
                                            if (i == null)
                                            {
                                                <div class="tab-pane active" id="Other">
                                                    <iframe src="@k.Path" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="tab-pane" id="@i.Replace(".", "").Replace(" ", "")">
                                                    <iframe src="@k.Path" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            if (count == 0)
                                            {
                                                <div class="tab-pane active" id="@i.Replace(".", "").Replace(" ", "")">
                                                    <iframe src="@k.Path" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                                                </div>
                                                count++;
                                            }
                                            else
                                            {
                                                <div class="tab-pane" id="@i.Replace(".", "").Replace(" ", "")">
                                                    <iframe src="@k.Path" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                                                </div>
                                            }

                                        }
                                    }
                                }
                            }
                        </div>
                    }
                </div>
                }
                <div class="col-xs-12 no-padding">
                    <span>@LocalText.Get("Db.Movie.Movie.PublishDateTime")</span>
                    <span>@Model.PublishDateTime.Value.ToLongDateString()</span>
                </div>
                <div class="col-xs-12 no-padding">
                    <span>@LocalText.Get("Db.Movie.Movie.UpdateDateTime")</span>
                    <span>@Model.UpdateDateTime.Value.ToLongDateString()</span>
                </div>
        }
    </div>
</div>