@model Cinema.Movie.Movie.Entities.MovieRow


<div class="box box-custom">
    <div class="box-header with-border box-with-backgrond">
        <a class="col-xs-11 no-padding" @((string)ViewData["PageId"] != "Dashboard/Movie" ? "href = movie?id=" + @Model.MovieId : "")>
            <h3 class="box-title">
                @if (Model.TitleOther != null)
                {
                    @(Model.TitleOther + " (" + (Model.YearStart.HasValue == true && Model.YearStart != Model.YearEnd ? Model.YearStart.ToString() : "") + Model.YearEnd + ")")
                    <br />
                    @Model.TitleEn
                }
                else
                {
                    @(Model.TitleEn + " (" + (Model.YearStart.HasValue == true && Model.YearStart != Model.YearEnd ? Model.YearStart.ToString() : "") + Model.YearEnd + ")")
                }

            </h3>
            <span class="pull-right">
                @for (int i = 0; i < (int)ViewData["MaxRating"]; i++)
            {
                if (i < Model.Rating)
                {
                        <span class="fa fa-star"></span>
                    }
                    else if (i + 1 < Model.Rating)
                    {
                        <span class="fa fa-star-half-o"></span>
                    }
                    else
                    {
                        <span class="fa fa-star-o"></span>
                    }
                }
            </span>
        </a>
        <span class="pull-right">
            @if (Model.Nice == true)
            {
                <span class="fa fa-thumbs-o-up fa-2x"></span>
            }
        </span>
    </div>
    <div class="box-body box-profile">


        <a href="#" class="thumbnail col-xs-4">
            <img class="img-responsive" src="@Model.PathImage" />
        </a>
        <div class="col-xs-8">

            @if (Model.Tagline != null)
            {
                <div class="col-xs-12 no-padding text-center">
                    <span class="fa fa-quote-left"></span>
                    <i class="tagline ">
                        @Model.Tagline
                    </i>
                    <span class="fa fa-quote-right"></span>
                </div>
            }
            @if (Model.Budget != null)
            {
                <div class="col-xs-12 no-padding">
                    <p>@LocalText.Get("Db.Movie.Movie.Budget"): <i>@Model.Budget $</i></p>
                </div>
            }
            <div class="col-xs-12 no-padding text-justify">
                <p>
                    @Model.Description
                </p>
            </div>
            <div class="col-xs-12 no-padding">
                @if (Model.GenreListName != null && Model.GenreListName.Count != 0)
                {
                    @*@LocalText.Get("Db.Movie.Movie.GenreList"):*@
                    foreach (var i in Model.GenreListName)
                    {
                        <div class="pull-right">
                            <span class="label label-custom  ">@i </span>
                        </div>
                    }
                }
            </div>
            <div class="col-xs-12 no-padding">
                @if (Model.TagListName != null && Model.TagListName.Count != 0)
                {
                    @*@LocalText.Get("Db.Movie.Movie.GenreList"):*@
                foreach (var i in Model.TagListName)
                {
                    <div class="pull-right">
                        <span class="label label-custom  ">@i </span>
                    </div>
                    }
                }
            </div>




        </div>

        @if ((string)ViewData["PageId"] == "Dashboard/Movie")
        {
            <a>@Model.Mpaa</a>
            if (Model.Kind == Cinema.Movie.Movie.MovieKind.TvSeries)
            {
                <a>@Model.ContSeason</a>
            }
        }
    </div>
</div>
