<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/admin-lte/AdminLTE")
    @Styles.Render("~/Style/style")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body data-bind="style:{'background':'url('+model.Site.Background+') no-repeat '+model.Site.BackgroundColor,'color':model.Site.Color}">
    <div class="pl">
        <div class="round1"></div>
        <div class="pl_l"></div>
        <div class="pl_r"></div>
    </div>
    <div class="container body-content">
      @{Html.RenderPartial("~/Views/Home/_Header.cshtml");}
        @RenderBody()
        @{Html.RenderPartial("~/Views/Genre/_Genres.cshtml");}
    </div>
    <div class="clearfix"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/knockout.viewmodel.2.0.3.min.js"></script>
    <script src="~/Services/cinemaServices.js"></script>
    <script src="~/Models/cinemaModels.js"></script>
    <script>
        request().getSite(function (model) {
            ko.applyBindings(cinemaModel(model));
            $('body').addClass('loaded');
            console.log(model);
        });
    </script>
</body>
</html>
