@model Cinema.Movie.Common.DashboardPageModel

@section Head {

}

<div class="col-xs-1 col-md-2 col-lg-2"></div>
<div class="col-xs-12 col-sm-8 col-md-7 col-lg-6">
    @if ((string)ViewData["Title"] != "" || Model.Content != "" || !Model.Widgets.Keys.Contains(ViewData["PageId"].ToString()))
    {
        <div class="box box-primary">
            <div class="box-header uppercase">
                <b>@ViewData["Title"]</b>
            </div>
            <div class="box-body box-profile">
                <div class="col-xs-12">
                    @if (Model.Widgets.Keys.Contains(ViewData["PageId"].ToString()))
                    {
                        @Model.Widgets[ViewData["PageId"].ToString()]
                    }
                    @Model.Content
                </div>
            </div>
        </div>
    }
    @if ((string)ViewData["Footer"] != "")
    {
        <div class="box box-primary">
            <div class="box-body box-profile">
                <div class="col-xs-12">
                    @ViewData["Footer"]
                </div>
            </div>
        </div>
    }
</div>

<div class="col-sm-3 col-md-3 col-lg-2 hidden-xs">
    <div class="box box-primary">
        <div class="box-body">
            <form action="#" method="get">
                <div class="input-group">
                    <input type="text" id="SidebarSearch" name="q" class="form-control" autocomplete="off">
                    <span class="input-group-btn">
                        <button type="button" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header ">
            <b class="uppercase header">@LocalText.Get("Db.Movie.Genre.EntityPlural")</b>
        </div>
        <div class="box-body">
            <ul class="list-group list-group-unbordered">
                @foreach (var i in Model.Genres)
                {
                    <li class="list-group-item">
                        <a href="/genre/@i.GenreId"><b>@i.Name</b></a>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>
<div class="col-lg-2"></div>