@model Serenity.Services.ListResponse<Cinema.Movie.Entities.VideoRow>
@if (Model != null && Model.Entities.Count != 0)
{
    <div class="col-xs-12 no-padding">
        @{
            var ServiceNames = Model.Entities.Select(j => j.ServiceName).Distinct();
            var count = 0;
        }

        @if (ServiceNames != null && ServiceNames.Count() != 0)
        {
            <ul class="nav nav-tabs">
                @foreach (var i in ServiceNames)
                {
                    if (ServiceNames.Contains(null))
                    {
                        if (i == null)
                        {
                            <li class="active"><a href="Other" data-toggle="tab">Other</a></li>
                        }
                        else
                        {
                            <li><a href="#@i.Replace(".", "").Replace(" ", " ")" data-toggle="tab">@i</a></li>
                        }
                    }
                    else
                    {
                        if (count == 0)
                        {
                            <li class="active"><a href="#@i.Replace(".", "").Replace(" ", " ")" data-toggle="tab">@i</a></li>
                            count++;
                        }
                        else
                        {
                            <li><a href="#@i.Replace(".", "").Replace(" ", " ")" data-toggle="tab">@i</a></li>
                        }
                    }
                }
            </ul>
            count = 0;
            <div class="tab-content">
                @foreach (var i in ServiceNames)
                {
                    foreach (var k in Model.Entities)
                    {
                        if (k.ServiceName == i)
                        {
                            if (ServiceNames.Contains(null))
                            {
                                if (i == null)
                                {
                                    <div class="tab-pane active" id="Other">
                                        <iframe src="@k.Path" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane" id="@i.Replace(".", "").Replace(" ", "")">
                                        <iframe src="@k.Path" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                }
                            }
                            else
                            {
                                if (count == 0)
                                {
                                    <div class="tab-pane active" id="@i.Replace(".", "").Replace(" ", "")">
                                        <iframe src="@k.Path" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    count++;
                                }
                                else
                                {
                                    <div class="tab-pane" id="@i.Replace(".", "").Replace(" ", "")">
                                        <iframe src="@k.Path" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                }

                            }
                        }
                    }
                }
            </div>
        }
    </div>
}